# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Flutter
.fvm/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/web/.last_build_id

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml
